.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1050px;
  padding-top: 96px;
  // background-color: rgb(61, 125, 131);
  @media (max-width: 1000px) {
    padding-top: 76px;
  }
  @media (max-width: 700px) {
    padding-top: 50px;
  }
  @media (max-width: 500px) {
    padding-top: 30px;
  }

  .mainText {
    h1 {
      font-size: 52px;
      font-weight: 600;
      line-height: 62.93px;
      text-align: center;
      color: var(--secondary_dark);
      margin-bottom: 24px;
      @media (max-width: 1000px) {
        font-size: 46px;
        line-height: 38.73px;
      }
      @media (max-width: 700px) {
        font-size: 40px;
      }
      @media (max-width: 500px) {
        font-size: 32px;
      }
      @media (max-width: 350px) {
        font-size: 30px;
      }
    }
    h3 {
      width: 480px;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.02em;
      text-align: center;
      color: var(--secondary_grey);
      @media (max-width: 1000px) {
        font-size: 18px;
        line-height: 19.36px;
      }
      @media (max-width: 700px) {
        font-size: 16px;
        width: 400px;
      }
      @media (max-width: 450px) {
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .wrapper {
    position: relative;
    max-width: 1007px;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    .steps {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      p {
        margin-inline: 30px;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: center;
        color: var(--secondary_dark);
        @media (max-width: 370px) {
          margin-inline: 10px;
          font-size: 18px;
        }
      }

      .stepOne {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        height: 128px;
        border-radius: 30px;
        background-color: var(--secondary_dark);
        z-index: 10;
        @media (max-width: 370px) {
          width: 250px;
          height: 128px;
        }
        p {
          color: var(--secondary_light);
        }
      }

      .stepTwo {
        position: absolute;
        top: 168px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        height: 128px;
        border-radius: 30px;
        background-color: var(--secondary_light);
        @media (max-width: 370px) {
          width: 250px;
          height: 128px;
        }
      }

      .stepThree {
        position: absolute;
        top: 336px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        height: 128px;
        border-radius: 30px;
        background-color: var(--secondary_light);
      }

      .stepFour {
        position: absolute;
        top: 504px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        height: 128px;
        border-radius: 30px;
        background-color: var(--secondary_light);
      }
    }

    .lineWrapOne {
      position: absolute;
      top: 146.5px;
      width: 100%;
      .line {
        background-color: var(--secondary_light);
        margin-inline: 170px;
        height: 3px;
        @media (max-width: 370px) {
          margin-inline: 140px;
        }
      }
    }

    .lineWrapTwo {
      position: absolute;
      top: 314.5px;
      width: 100%;
      .line {
        background-color: var(--secondary_light);
        margin-inline: 170px;
        height: 3px;
        @media (max-width: 370px) {
          margin-inline: 140px;
        }
      }
    }

    .lineWrapThree {
      position: absolute;
      top: 482.5px;
      width: 100%;
      .line {
        background-color: var(--secondary_light);
        margin-inline: 170px;
        height: 3px;
        @media (max-width: 370px) {
          margin-inline: 140px;
        }
      }
    }

    .vectorBottomLeft {
      position: absolute;
      top: 119.5px;
      left: 143px;
      @media (max-width: 370px) {
        left: 123px;
      }
    }
    .vectorTopRight {
      position: absolute;
      top: -27.5px;
      left: 120px;
      @media (max-width: 370px) {
        left: 96px;
      }
    }
    .vectorBottomRight {
      position: absolute;
      top: 119.5px;
      left: 120px;
      @media (max-width: 370px) {
        left: 96px;
      }
    }
    .vectorTopLeft {
      position: absolute;
      top: -27.5px;
      left: 143px;
      @media (max-width: 370px) {
        left: 123px;
      }
    }
    .vectorBottomLeftTwo {
      position: absolute;
      top: 119.5px;
      left: 143px;
      @media (max-width: 370px) {
        left: 123px;
      }
    }
    .vectorTopRightTwo {
      position: absolute;
      top: -27.5px;
      left: 120px;
      @media (max-width: 370px) {
        left: 143px;
      }
    }
  }
}
