.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 1020px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  @media (max-width: 1100px) {
    height: 1060px;
  }
  @media (max-width: 900px) {
    height: 1100px;
  }
  @media (max-width: 700px) {
    height: 1060px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding-inline: 80px;
  @media (max-width: 1200px) {
    padding-inline: 60px;
  }
  @media (max-width: 1000px) {
    padding-inline: 40px;
  }
  @media (max-width: 768px) {
    padding-inline: 30px;
  }
  @media (max-width: 500px) {
    padding-inline: 16px;
  }
  .mainTitle {
    position: relative;
    top: 230px;
    width: 750px;
    font-weight: 600;
    font-size: 68px;
    letter-spacing: -1px;
    text-align: center;
    color: var(--secondary_dark);
    @media (max-width: 1100px) {
      top: 300px;
    }
    @media (max-width: 900px) {
      font-size: 58px;
      width: 520px;
    }
    @media (max-width: 700px) {
      font-size: 48px;
    }
  }

  .subTitle {
    position: relative;
    top: 255px;
    width: 600px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: var(--secondary_grey);
    @media (max-width: 1100px) {
      top: 325px;
    }
    @media (max-width: 900px) {
      width: 400px;
    }
  }
  .btn {
    position: relative;
    top: 310px;
    width: 188px;
    border-radius: 16px;
    height: 56px;
    background-color: var(--secondary_dark);
    @media (max-width: 1100px) {
      top: 380px;
    }
    @media (max-width: 700px) {
      top: 360px;
    }
  }
}

.inTrustWrapper {
  max-width: 1440px;
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  padding-inline: 80px;
  @media (max-width: 1200px) {
    padding-inline: 60px;
  }
  @media (max-width: 1000px) {
    padding-inline: 40px;
  }
  @media (max-width: 768px) {
    padding-inline: 30px;
  }
  @media (max-width: 500px) {
    padding-inline: 16px;
  }

  .inTrust {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    height: 178px;
    background-color: var(--secondary_dark);
    border-radius: 40px;
    @media (max-width: 1200px) {
      flex-direction: column;
      height: 146px;
      padding: 10px 20px;
    }
    .text {
      width: 146px;
      color: var(--secondary_light);
      font-size: 20px;
      font-weight: 400;
      line-height: 24.2px;
      text-align: left;
      margin-left: 70px;
      @media (max-width: 1200px) {
        width: fit-content;
        font-weight: 600;
        text-align: center;
        margin: 10px 0;
      }
    }
  }
}

.companies {
  display: flex;
  margin-inline: 70px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  overflow: hidden;
  justify-content: space-evenly;
  overflow-x: scroll;
  scrollbar-width: thin;
  color: var(--secondary_light);
  min-width: unset;
  border-radius: 35px;
  -webkit-overflow-scrolling: touch;
  @media (max-width: 1200px) {
    margin-inline: 0;
  }
  .company {
    max-width: 150px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-inline: 10px;
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.imgWrapper {
  position: absolute;
  top: 470px;
  @media (max-width: 1100px) {
    top: 490px;
  }

  .imageFirst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-440px, -425px);
    @media (max-width: 1250px) {
      transform: translate(-340px, -425px);
      width: 202px;
      height: 202px;
    }
    @media (max-width: 1100px) {
      transform: translate(-20px, -460px);
    }
    @media (max-width: 900px) {
      width: 172px;
      height: 172px;
    }
    @media (max-width: 700px) {
      width: 152px;
      height: 152px;
    }
  }

  .imageSecond {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(410px, -335px);
    @media (max-width: 1250px) {
      transform: translate(340px, -335px);
      width: 235px;
      height: 235px;
    }
    @media (max-width: 1100px) {
      transform: translate(260px, -370px);
    }
    @media (max-width: 900px) {
      transform: translate(195px, -340px);
      width: 190px;
      height: 190px;
    }
    @media (max-width: 700px) {
      transform: translate(150px, -320px);
      width: 170px;
      height: 170px;
    }
    @media (max-width: 570px) {
      transform: translate(90px, -320px);
    }
  }

  .imageThird {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-643px, -200px);
    @media (max-width: 1250px) {
      transform: translate(-553px, -200px);
      width: 264px;
      height: 264px;
    }
    @media (max-width: 1100px) {
      transform: translate(-460px, -400px);
    }
    @media (max-width: 900px) {
      transform: translate(-365px, -370px);
      width: 200px;
      height: 200px;
    }
    @media (max-width: 700px) {
      transform: translate(-300px, -350px);
      width: 180px;
      height: 180px;
    }
    @media (max-width: 570px) {
      transform: translate(-240px, -350px);
    }
  }

  .imageFourth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(276px, -17px);
    @media (max-width: 1250px) {
      transform: translate(219px, 30px);
      width: 355px;
      height: 355px;
    }
    @media (max-width: 1100px) {
      transform: translate(160px, 85px);
      width: 325px;
      height: 325px;
    }
    @media (max-width: 900px) {
      transform: translate(107px, 185px);
      width: 275px;
      height: 275px;
    }
    @media (max-width: 700px) {
      transform: translate(60px, 175px);
      width: 255px;
      height: 255px;
    }
    @media (max-width: 570px) {
      transform: translate(-2px, 175px);
    }
  }

  .imageFifth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-470px, 60px);
    @media (max-width: 1250px) {
      transform: translate(-430px, 60px);
      width: 278px;
      height: 278px;
    }
    @media (max-width: 1100px) {
      transform: translate(-415px, 100px);
    }
    @media (max-width: 900px) {
      transform: translate(-345px, 180px);
      width: 218px;
      height: 218px;
    }
    @media (max-width: 700px) {
      transform: translate(-295px, 170px);
      width: 198px;
      height: 198px;
    }
    @media (max-width: 570px) {
      transform: translate(-235px, 170px);
    }
  }
}
