.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 130px;
  @media (max-width: 1000px) {
    padding-top: 96px;
  }
  @media (max-width: 700px) {
    padding-top: 60px;
  }
  
  .contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 470px;
    z-index: 20;
    @media (max-width: 1000px) {
      width: 396px;
    }
    @media (max-width: 500px) {
      width: 310px;
    }

    h1 {
      font-size: 52px;
      font-weight: 600;
      line-height: 62.93px;
      text-align: center;
      margin-bottom: 24px;
      @media (max-width: 1000px) {
        font-size: 46px;
        line-height: 38.73px;
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.9);
      }
      @media (max-width: 700px) {
        font-size: 42px;
      }
      @media (max-width: 500px) {
        font-size: 33px;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.02em;
      text-align: center;
      color: var(--secondary_grey);
      @media (max-width: 1000px) {
        font-size: 18px;
      }
    }
    button {
      width: 248px;
      height: 56px;
      margin-top: 40px;
      border-radius: 16px;
      background-color: var(--secondary_dark);
      border: 0;
    }
  }

  .imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 484px;
    overflow: hidden;
    border-radius: 40px;
    pointer-events: none;
    position: relative;
    @media (max-width: 800px) {
      height: 408px;
    }
    @media (max-width: 550px) {
      justify-content: flex-start;
    }

    .backgroundImg {
      display: flex;
      justify-content: flex-start;
      position: relative;
      @media (max-width: 1000px) {
        left: -10px;
        width: 950;
        height: 633px;
      }
      @media (max-width: 800px) {
        left: 0;
        width: auto;
        height: 480px;
      }
      @media (max-width: 550px) {
        height: 100%;
        left: -95px;
      }
      @media (max-width: 440px) {
        left: -105px;
      }
    }
  }
}
